.stockDetailPage-Content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.stockDetailPage-Content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttonBlock {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid red; */
    width: 50%;
    margin: 10% 0 0 10%;
}

.chatBlock {
    height: 90vh;
    border-left: 2px solid black;
    width: 40%;
}