.errorComponent-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.errorComponent-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorComponent-SVG {
    height: 500px;
    width: 500px;
    /* border: 2px solid red; */
}

.errorComponent-link {
    font-size: large;
}