.minColorBlock {
    display: none;
    position: relative;
    /* bottom: 150px;
    left: 700px; */
    font-size: 14px;
}

.minBlockBuy {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 150px;
}

.minBlockSell {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 150px;
}

.minBlockHold {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 150px;
}

.buyColorMin, .selLColorMin, .holdColorMin {
    width: 20px;
    height: 20px;
    border-radius: 0 0 10px 10px;
}

.buyColorMin {
    background-color: #2a9d8f;
}

.selLColorMin {
    background-color: #f74b20;
}

.holdColorMin {
    background-color: #efb81d;
}

.buttonBlock {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    /* border: 2px solid red; */
    /* width: 50%;
    margin: 10% 0 0 20%;
    position: fixed;
    top: 500px;
    left: -340px; */
}

.buyButton, .sellButton, .holdButton {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 12px 20px;
    box-shadow: 0px 1px 4px RGBa(0,0,0,0.18);
    font-size: 16px;
    cursor: pointer;
    min-width: 120px;
    background: white;
}

.buyButton {
    color: #1a82dc;
}

.sellButton {
    color: #e43535;
}

.holdButton {
    color: #ec9b20;
}

.disabled {
    opacity: 0.4;
}

.barGraph {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    width: 80%;
    margin: auto;
}

.buyBlock, .sellBlock, .holdBlock {
    height: 36px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: width 200ms;
    transition-timing-function: ease-in-out;
}

.buyBlock {
    background-color: #1a82dc;
    /* width: 200px; */
    border-radius: 5px 0 0 5px;
    margin-right:1px;
}

.sellBlock {
    background-color: #e43535;
    /* width: 200px; */
    border-radius: 0 5px 5px 0;
    margin-left:1px;
}

.holdBlock {
    background-color: #ec9b20;
    /* width: 200px; */
}

.barText {
    color: white;
    position: relative;
    /* top: -24px; */
    font-size: x-large;
}

.noVotes-text {
    font-size: x-large;
}

@media (max-width:980px){
    .buyButton, .sellButton, .holdButton{
        min-width: 90px;
        margin-left: 4px;
        margin-right: 8px;
    }
}