.buttonBlock {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid red; */
    width: 50%;
    margin: 10% 0 0 10%;
}

.buyButton, .sellButton, .holdButton {
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    padding: 15px;
    box-shadow: 0px 1px 4px RGBa(0,0,0,0.18);
    font-size: 16px;
    cursor: pointer;
}

.buyButton {
    background-color: #2a9d8f;
}

.sellButton {
    background-color: #e76f51;

}

.holdButton {
    background-color: #e9c46a;
    color: black;
}

.disabled {
    opacity: 0.4;
}