.chatBlock {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 400px;
    /* padding: 20px; */
    background-color: #ffffff;
    box-sizing: border-box;
    /* border-radius: 10px; */
    box-shadow: 0px 1px 4px RGBa(0,0,0,0.18);
}

.chatTitle {
    font-size: 18px;
    font-weight: 700;
}

.chatMessages {
    padding: 7px 0 20px 0;
    font-size: 12px;
    overflow-y: scroll;
    /* overflow-x: hidden; */
    height: 90%;
    /* box-shadow: 0px 8px 6px -6px RGBa(0,0,0,0.18); */
    /* border-radius: 10px; */
    /* width: 95%; */
    padding: 20px;
    box-sizing: border-box;
}

.singleMessage {
    background-color: #304d6d;
    color: white;
    border-radius: 5px;
    padding: 3px 20px;
    margin-top: 10px;
    width: fit-content;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;

    font-size: 15px;

}

.chatSendBlock {
    position: absolute;
    bottom: 0px;
    /* bottom: -20px; */
    height: 70px;
    width: 100%;
    box-shadow: 0px -3px 4px RGBa(0,0,0,0.18);
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.goTopButton {
    padding: 7px;
    margin-right: 40px;
    border-radius: 5px;
    outline: none;
    border: 0;
    box-shadow: 0px 1px 4px RGBa(0,0,0,0.18);
    background-color: #a7cced;
    position: fixed;
    bottom: 200px;
    right: 100px;
    cursor: pointer;
    font-size: 20px;
    /* color: white; */
    background-color: #faa4bd;
}

.chatSendBlock-input {
    position: relative;
    /* left: -45px; */
    width: 80%;
    height: 90%;
    /* box-shadow: 0px 1px 4px RGBa(0,0,0,0.18); */
    border: 0;
    border-radius: 10px;
    padding: 0 15px;
    outline: none;
    font-size: 16px;
}

.chatSendBlock-send {
    padding: 12px 16px;
    margin-right: 20px;
    border-radius: 5px;
    outline: none;
    border: 0;
    box-shadow: 0px 1px 4px RGBa(0,0,0,0.18);
    background-color: #191919;
    cursor: pointer;
    color: white;
}